
.Rproj.user/A98B5E5C/pcs/files-pane.pper
.Rproj.user/A98B5E5C/pcs/files-pane.pper
*.pper
.Rproj.user/A98B5E5C/pcs/windowlayoutstate.pper
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/A98B5E5C/pcs/files-pane.pper
.Rproj.user/A98B5E5C/pcs/source-pane.pper
.Rproj.user/A98B5E5C/pcs/workbench-pane.pper
.Rproj.user/A98B5E5C/rmd-outputs
.Rproj.user/A98B5E5C/saved_source_markers
.Rproj.user/shared/notebooks/patch-chunk-names
